@import 'mixins';

#education {
    & > h2 { margin: 10% 0; font-size: 22px; }
    cursor: pointer;
    & > .container { 
      padding: 5%;
      color: #000;
      @include background-layout-blue(); 
      & div { font-size: 18px; } 
      & #softuni { 
        width: 100%; 
        color: #fff;
        font-size: 20px;
      }
      & img { width: 16%; } 
      
    } 
    &:hover {
      animation: shakeIt 0.5s ease-in-out 0.3s forwards;
    }

    & #diploma {
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      color: #fff;
      &:hover { color: #000; }
    }
}

@media screen and (max-width: 500px) {
  #education {
    & .container { 
      width: 90%; 
      & img { width: 30%; }
    }
  }
}

  