@import url("../fontawesome/css/all.min.css");
body {
  background: url("../image/minimalism-hexagon-black-honeycomb-wallpaper.jpg");
  position: relative; }
  body #navigation {
    position: fixed;
    top: 0;
    z-index: 100; }
    body #navigation .navbar-brand {
      margin-right: 11%; }
    body #navigation .navbar-collapse > ul > li > a {
      font-size: 20px; }
  body header {
    margin-top: 2%;
    padding: 7%; }
    body header > #header {
      background: linear-gradient(rgba(68, 110, 155, 0.5), rgba(68, 110, 155, 0.5));
      padding: 5%;
      border-radius: 1rem; }
      body header > #header h1 {
        background: linear-gradient(to top, white, #00acec), none;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      body header > #header .right-hand:hover i,
      body header > #header .right-hand:hover a {
        color: #00acec;
        cursor: pointer; }
      body header > #header #front-end {
        cursor: pointer; }
        body header > #header #front-end:hover {
          color: #00acec; }
      body header > #header .card div {
        font-size: 18px; }
    body header #data {
      margin-top: 4rem;
      margin-bottom: 1rem;
      font-size: 20px;
      display: flex;
      justify-content: space-between; }
    body header #see-more {
      color: #fff;
      border-color: #fff; }
  body #education > .container {
    background: linear-gradient(rgba(68, 110, 155, 0.5), rgba(68, 110, 155, 0.5));
    border-radius: 1rem; }
    body #education > .container div {
      font-size: 18px; }
  body #education #softuni {
    width: 100%; }
    body #education #softuni img {
      width: 15%; }
  body #qualification .container {
    background: linear-gradient(rgba(68, 110, 155, 0.5), rgba(68, 110, 155, 0.5));
    border-radius: 1rem; }
    body #qualification .container .card-body {
      padding: 1rem; }
    body #qualification .container p {
      margin-bottom: 2rem;
      font-size: 18px; }
    body #qualification .container .btn {
      text-decoration: none;
      cursor: pointer;
      border-radius: 0.4rem;
      padding: 0.5rem 1rem;
      margin: 1rem 0; }
      body #qualification .container .btn:hover {
        color: #446e73;
        background: white;
        border-color: #446e73; }
  body #projects .container {
    background: linear-gradient(rgba(68, 110, 155, 0.5), rgba(68, 110, 155, 0.5));
    border-radius: 1rem;
    padding: 5%; }
    body #projects .container #accordion {
      display: flex;
      justify-content: space-between; }
      body #projects .container #accordion .card {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); }
      body #projects .container #accordion button {
        font-size: 22px; }
      body #projects .container #accordion div,
      body #projects .container #accordion a {
        font-size: 18px; }
  body #environment {
    margin-bottom: 3rem; }
    body #environment > .container {
      background: linear-gradient(rgba(68, 110, 155, 0.5), rgba(68, 110, 155, 0.5));
      border-radius: 1rem; }
      body #environment > .container h5 {
        font-size: 30px; }
      body #environment > .container .box {
        display: flex;
        justify-content: center; }
        body #environment > .container .box a {
          text-decoration: none;
          cursor: pointer;
          width: 10%;
          margin: 2rem; }
          body #environment > .container .box a img {
            width: 100%; }
  body footer {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    position: relative;
    z-index: 100; }
  body #js-library,
  body #javascript,
  body #html,
  body #java,
  body #css,
  body #csharp {
    font-size: 18px; }
  body #csharp img {
    width: 3%;
    margin-right: 3%; }
  body #csharp h2 {
    font-weight: bold;
    font-size: 45px;
    text-shadow: 1px 1px white; }
  body .link {
    cursor: pointer; }
