@import url('../fontawesome/css/all.min.css');

//animation navigation
@keyframes navitemin {
  from {}
  to {
      opacity: 1;
      transform: scale(1) translate(0,0);
  }
}

//animation growImage
@keyframes growImage {
  from { transform: scale(1); }
  to { transform: scale(1.3); }
}

//animation environment
@keyframes hoverEfect {
  from {  transform: scale(1); }
  to {  transform: scale(0.9);  }
}

//animation qualification
@keyframes small {
  from { transform: scale(1); }
  to { transform: scale(0.95); }
}

//animation qualification
@keyframes grow {
  from { transform: scale(0.95); }
  to { transform: scale(1); }
}

@mixin experience-buttons {
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

@mixin global-ancher {
  text-decoration: none;
  cursor: pointer;
  width: 10%;
  margin: 2rem;
}

@mixin background-layout-blue {
  background: linear-gradient(rgba(68,110,155,0.8), rgba(68,110,155,0.8));
  -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
  box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
  border-radius: 1rem;
}

@mixin background-layout-gray {
  background: linear-gradient(rgba(185,186,190,0.8), rgba(185,186,190,0.8));
  -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
  box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
  border-radius: 1rem;
}

@mixin white-shadow {
  text-shadow: 1px 1px rgb(255,255,255);
} 

@mixin black-shadow {
  text-shadow: 2px 2px rgb(0,0,0);
}

body {
  position: relative;
  background-image: url("../image/8601.jpg");
  background-size: contain;

    #navigation { 
      position: fixed; 
      top: 0;
      z-index: 100; 
      & .navbar-brand { margin-right: 11%; }
      & .navbar-collapse > ul > li > a {
        font-size: 20px;
      }

      & li {
        opacity: 0;
        animation: navitemin 0.5s ease forwards;
      }

      @for $i from 1 through 6 {
        & li:nth-child(#{$i}) { animation-delay: $i * 0.15s; }
      }
    }

    header {
      margin-top: 1%;
      padding: 7%;

      & > #header {
        @include background-layout-blue();
        background: radial-gradient(circle,rgba(185,186,190,0.8) 24%,  rgba(68,110,155,0.8) 54%);
        padding: 5%;

        & #image {
          cursor: pointer;
          max-width: 25%;
          padding: 3px;
          border: 3px solid gray;
          border-radius: 50%;
          -webkit-box-shadow: 0px 0px 107px -1px rgba(0,0,0,0.7);
          -moz-box-shadow: 0px 0px 107px -1px rgba(0,0,0,0.7);
          box-shadow: 0px 0px 107px -1px rgba(0,0,0,0.7);
          &:active {
            transform: scale(1);
            transition-duration: 0.3s;
            animation: growImage 0.3s ease-in;
            animation-fill-mode: both;
            animation-duration: 0.3s;
          }
        }

        & h1 {
          background: linear-gradient(to top, rgba(150,150,150, 1), rgba(0,0,0, 1)),  none;
          text-shadow: 3px 3px rgba(255,255,255, 1);
          //for Edge and FireFox
          background-clip: text;
          //For Chrome
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        & .right-hand:hover i,
        & .right-hand:hover a {
          color: rgb(50,50,50);
          cursor: pointer;
        }

        & i { color: #fff; }

        & #front-end {
          cursor: pointer;
          color: rgb(255,255,255);
          
          &:hover { color: rgb(50,50,50); }
        }
        & .card div { font-size: 18px; }
      }

      & #data {
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        color: rgb(240,240,240);

        & a:hover,
        & a:hover i{
          color: rgb(50,50,50);
          cursor: pointer;
        }
      }

      & #see-more { 
        color: #fff; 
        border-color: #fff; 
        &:hover {
          color: rgb(33,33,33); 
          border-color: #fff; 
          background: #fff;
        }
      }
    }

    #education {
      & > .container { 
        color: #fff;
        @include background-layout-blue(); 
        background: radial-gradient(circle,rgba(68,110,155,0.8) 59%, rgba(185,186,190,0.8) 94%);
        & div { font-size: 18px; } }
        & #softuni { width: 100%; 
        & img { width: 15%; } 
      } 
    }

    #qualification {
      & .container {
        @include background-layout-gray();

        & .card {
          cursor: pointer;
          background: rgb(68,110,155);
          transition: background 0.4s ease-in, color 0.4s ease-in;
          animation: grow 0.4s ease-out;
          &:hover {
            background: rgb(50,50,50);
            color: #fff;
            -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
            box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
            transform: scale(0.9);
            transition-duration: 0.3s;
            animation: small 0.3s ease-in;
            animation-fill-mode: both;
            animation-duration: 0.3s;
          }
        }
        
        & .card-body {
          padding: 1rem;
        }
        & p { 
          margin-bottom: 2rem; 
          font-size: 18px;
        }

        // HOVER EFFECT
        & .btn { 
          @include experience-buttons(); 
          &:hover {
            color: rgb(68,110,115);
            background: rgb(255,255,255);
            border-color: rgb(68,110,115);
          }
        }
      }
    }

    #projects {
      & .container {
        @include background-layout-blue();
        padding: 5%;

        & #accordion {
          display: flex;
          justify-content: space-between;
          //& .card { background: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0.2)); }
          & button { font-size: 22px; }
          & div,
          & a { 
            font-size: 18px; 
            color: rgb(68,110,155);
            cursor: pointer;
          }

          a:hover { color: rgb(39,39,39); }
        }
      }
    }

    #environment { 
      margin-bottom: 3rem;
      & > .container { 
        @include background-layout-gray();
        background: linear-gradient(128deg,rgba(185,186,190,0.8) 32%,  rgba(68,110,155,0.8) 72%);
        & .row {
          & .jumbotron {
            background: linear-gradient(rgba(185,186,190,0), rgba(185,186,190,0));
            width: 30%;
            text-align: center;
            & h5 { font-size: 30px; margin: 0 7%; }
         
            & .row {
              & .vs-code,
              & .mongo-db,
              & .webstorm {
                cursor: pointer;
                width: 60px;
                border-radius: 50%;
                padding: 7x;
                border: 2px solid white;
                overflow: hidden;
                -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
                -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
                box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
                & img {
                  width: 100%;
                }

                &:hover {
                  -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.85);
                  -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.85);
                  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.85);
                  transform: scale(0.9);
                  transition-duration: 0.3s;
                  animation: hoverEfect 0.3s ease-in;
                  animation-fill-mode: both;
                  animation-duration: 0.3s;
                }
              }
            }
           
          }         
        }     
      } 
    }

    footer {
      background: linear-gradient(to right, rgba(255,255,255,0.15), rgba(255,255,255,0.15));
      position: relative;
      z-index: 100;
    }

    & #js-library,
    & #javascript,
    & #html,
    & #java,
    & #css,
    & #csharp { 
      & .border {
        & h4 { font-size: 28px; }
        font-size: 20px; 
        font-weight: bold;
        background: linear-gradient(rgba(185,186,190,0.9), rgba(185,186,190,0.9));
        padding: 5%;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
        box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
        & a { 
          color: rgb(250,250,250);
          cursor: pointer;
          &:hover { color: rgb(39,39,39); }
        }        
      }    
    }

    & #csharp {
      & img { width: 3%; margin-right: 3%; border-radius: 50%; }
      & h2 {
        font-weight: bold;
        font-size: 45px;
        @include white-shadow();
      }
    }

    & .link { cursor: pointer; }

    & #js { & .inner-js {  width: 65%; } }
    & #js-library { & .inner-js-library{ width: 65%; } }
    & #css { & .inner-css { width: 65%; } }
    & #csharp { & .inner-csharp { width: 65%; } }
    & #html { & .inner-html { width: 65%; } }
    & #java { & .inner-java { width: 65%; } }
}