@import url('../fontawesome/css/all.min.css');

@mixin experience-buttons {
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

@mixin bacground-layout {
  background: linear-gradient(rgba(68,110,155,0.5), rgba(68,110,155,0.5));
  border-radius: 1rem;
}

@mixin white-shadow {
  text-shadow: 1px 1px rgb(255,255,255);
} 

@mixin black-shadow {
  text-shadow: 2px 2px rgb(0,0,0);
}

body {
  background: url('../image/minimalism-hexagon-black-honeycomb-wallpaper.jpg');
  position: relative;
    #navigation { 
      position: fixed; 
      z-index: 100; 
      & #nav-logo {
        width: 30%;
        border-radius: 0.5rem;
        padding: 0.2rem;
      }
    }

    header {
      padding: 7%;

      & > #header {
        background: linear-gradient(to right, rgba(134,95,197,0.2), rgba(134,95,197,0.2));
        padding: 5%;
        border-radius: 1rem;
        color: #00ACEC;

        & h1 {
          background: linear-gradient(to top, rgba(255,255,255,1), rgba(0,172,236, 1)),  none;
          //for Edge and FireFox
          background-clip: text;
          //For Chrome
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        & .right-hand:hover i,
        & .right-hand:hover a {
          color: purple;
          cursor: pointer;
        }

        & #front-end {
          cursor: pointer;
          &:hover { color: purple; }
        }
      }

      & #data {
        display: inline-block;
        margin: 1rem auto;
        text-align: left;
        padding-right: 4.5rem;
      }

      & #see-more { 
        color: #fff; 
        border-color: #fff; 
      }
    }

    #education {
      & > .container { @include bacground-layout(); }
      & #softuni { display: flex; } }
    
    #experience h2,
    #skills h2 {
      color: #fff;
    }

    #experience {
      & .container {
        @include bacground-layout();

        & #js { background: linear-gradient(rgba(245,222,25,0.9), rgba(245,222,25,0.9)); }
        & #js-plugins { background: linear-gradient(rgba(182,167,32,0.9), rgba(182,167,32,0.9)); }
        & #html { background: linear-gradient(rgba(228,77,38,0.9), rgba(228,77,38,0.9)); }
        & #css { background: linear-gradient(rgba(1,108,180,0.9), rgba(1,108,180,0.9)); }
        & #csharp { background: linear-gradient(rgba(101,32,118,0.9), rgba(101,32,118,0.9)); }
        & #java { background: linear-gradient(rgba(229,31,36,0.9), rgba(229,31,36,0.9)); }

        & .card-body {
          padding: 1rem;
        }
        & p { margin-bottom: 2rem; }

        // HOVER EFFECT
        & .btn { @include experience-buttons(); }

        & .card:nth-of-type(1) .btn,
        & .card:nth-of-type(3) .btn {
          &:hover {
            border: 1px solid #fff;
            background: none;
            color: #fff;
          }
        }

        & .card:nth-of-type(2) .btn,
        & .card:nth-of-type(4) .btn,
        & .card:nth-of-type(5) .btn,
        & .card:nth-of-type(6) .btn {
          &:hover {
            border: 1px solid #000;
            background: none;
            color: #000;
          }
        }
      }
    }

    #skills { & > .container { @include bacground-layout(); } }

    #projects {
      padding: 5%;
      .card:nth-of-type(1) { background: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0.2)); }
      .card:nth-of-type(2) { background: linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0.7)); }
      .card:nth-of-type(3) { background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5)); }

      & #link {
        color: #007ACC;
        @include black-shadow();
        &:hover { color: lightblue; }
      }

      & .grade,
      & #sertificate {
        color: rgb(218,138,38);
        font-weight: bold;
        @include black-shadow();
      }

      & #sertificate {
        &:hover { color: #8D4E00; }
      }
    }

    #environment { & > .container { @include bacground-layout(); } }

    footer {
      background: linear-gradient(to right, rgba(255,255,255,0.15), rgba(255,255,255,0.15));
      position: relative;
      z-index: 100;

      & > #icons {
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin: 0 auto;
         & a:nth-of-type(1) { color: #426A96; cursor:pointer; }
         & a:nth-of-type(2) { color: #00ACEC; cursor:pointer; }
         & a:nth-of-type(3) { color: #007ACC; cursor:pointer; }
         & a:nth-of-type(4) { color: #000; cursor:pointer; }
         & a:nth-of-type(5) { color: #D47500; cursor:pointer; }
      }
    }

    & #javascript,
    & #js-library,
    & #js-plugins {
      & h2 { 
        color: rgb(245,222,25); 
        @include white-shadow();
      }
      & h3,
      & h4 { @include black-shadow(); }
    }

    & #javascript,
    & #css {
       & .sertificate {
         cursor: pointer;
         text-decoration: none;
         color: rgb(218,138,38);
         &:hover { color: #8D4E00; }
       }
    }

    & #js {
      & h3,
      & h4 { @include white-shadow(); }
    }

    & #html {  
      & h2 { color: rgb(228,77,38); @include black-shadow(); } 

      & h3,
      & h4 { @include white-shadow(); }
    }

    & #css {
      & h2 {  color: rgb(1,108,180); @include black-shadow(); } 

      & h3,
      & h4 { @include black-shadow(); }
    }

    & #csharp {
      & img { width: 3%; margin-right: 3%; }
      & h2 {
        color: rgb(101,32,118);
        font-weight: bold;
        font-size: 45px;
        @include white-shadow();
      }

      & .sertificate {
        cursor: pointer;
        text-decoration: none;
        color: rgb(218,138,38);
        &:hover { color: #8D4E00; }
      }

      & h3,
      & h4 { @include black-shadow(); }
    }

    & #java {
      & h2 { color: rgb(229,31,36); @include black-shadow(); }
      & h3,
      & h4 { @include black-shadow(); }

      & .sertificate {
        cursor: pointer;
        text-decoration: none;
        color: rgb(218,138,38);
        &:hover { color: #8D4E00; }
      }
    }

    #myBlog,
    #medieval-castles { 
      cursor: pointer;
      font-weight: bold;
      text-decoration: none;
      color: #007ACC;
      @include black-shadow();
      &:hover { color: #00ACEC; }
    }

    .grade,
    .sertificate {
      color: rgb(218,138,38);
    }
}