@import url('../fontawesome/css/all.min.css');

@import 'mixins';
@import 'animations';
@import 'navigation';
@import 'header';
@import 'education';
@import 'qualification';
@import 'projects';
@import 'environment';
@import 'views';

body {
  position: relative;
  background-image: url("../image/8601.jpg");
  background-size: contain;

    footer {
      background: linear-gradient(to right, rgba(255,255,255,0.15), rgba(255,255,255,0.15));
      position: relative;
      z-index: 100;
    }
}