@import 'mixins';

body {
    & #js-library,
    & #javascript,
    & #html,
    & #java,
    & #css,
    & #csharp { 
      & .border {
        & h4 { font-size: 28px; }
        font-size: 20px; 
        font-weight: bold;
        background: linear-gradient(rgba(185,186,190,0.9), rgba(185,186,190,0.9));
        padding: 5%;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
        box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
        & a { 
          color: rgb(250,250,250);
          cursor: pointer;
          &:hover { color: rgb(39,39,39); }
        }        
      }    
    }

    & #csharp {
      & img { 
        width: 4%; 
        margin-right: 3%; 
        border-radius: 0.3rem; 
        padding-bottom: 7px;
      }
      & h2 {
        font-weight: bold;
        font-size: 50px;
        @include white-shadow();
      }
    }

    & .link { cursor: pointer; }

    & #js { & .inner-js {  width: 65%; } }
    & #js-library { & .inner-js-library{ width: 65%; } }
    & #css { & .inner-css { width: 65%; } }
    & #csharp { & .inner-csharp { width: 65%; } }
    & #html { & .inner-html { width: 65%; } }
    & #java { & .inner-java { width: 65%; } }

    & #javascript .border .container .inner-js,
    & #js-library .border .container .inner-js-library,
    & #java .border .container .inner-java, 
    & #html .border .container .inner-html,
    & #css .border .container .inner-css,
    & #csharp .border .container .inner-csharp { padding-left: 11%; }
}

@media screen and (max-width: 770px) {
  #javascript .border .container h3,
  #javascript .border .container h4,
  #js-library .border .container h3,
  #js-library .border .container h4,
  #java .border .container h3,
  #java .border .container h4,
  #html .border .container h3,
  #css .border .container h3,
  #css .border .container h4,
  #csharp .border .container h3,
  #csharp .border .container h4 { font-size: 22px; }

  body #javascript .border .container .inner-js,
  body #js-library .border .container .inner-js-library,
  body #java .border .container .inner-java,
  body #html .border .container .inner-html,
  body #css .border .container .inner-css,
  body #csharp .border .container .inner-csharp { padding: 0; }

  #javascript .border .container .inner-js p,
  #js-library .border .container .inner-js-library p,
  #java .border .container .inner-java p,
  #html .border .container .inner-html p,
  #css .border .container .inner-css p,
  #csharp .border .container .inner-csharp p {  font-size: 16px; }
}

@media screen and (max-width: 580px) {
  #javascript .border h2,
  #js-library .border h2,
  #java .border h2,
  #html .border h2,
  #css .border h2,
  #csharp .border h2 { font-size: 26px; }

  #javascript .border .container,
  #js-library .border .container,
  #java .border .container,
  #html .border .container,
  #css .border .container,
  #csharp .border .container { padding: 0; }

  #javascript .border .container h3,
  #javascript .border .container h4,
  #js-library .border .container h3,
  #js-library .border .container h4,
  #java .border .container h3,
  #java .border .container h4,
  #html .border .container h3,
  #css .border .container h3,
  #css .border .container h4,
  #csharp .border .container h3,
  #csharp .border .container h4 { font-size: 18px; }

  body #javascript .border .container .inner-js,
  body #js-library .border .container .inner-js-library,
  body #java .border .container .inner-java,
  body #html .border .container .inner-html,
  body #css .border .container .inner-css,
  body #csharp .border .container .inner-csharp { padding: 0; }

  #javascript .border .container .inner-js p,
  #js-library .border .container .inner-js-library p,
  #java .border .container .inner-java p,
  #html .border .container .inner-html p,
  #css .border .container .inner-css p,
  #csharp .border .container .inner-csharp p {  font-size: 14px; }
}