<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C Sharp</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <main class="container-fluid p-5" id="csharp"> 
        <div class="container border p-4 mt-4">
            <a href="../index.html" class="link float-right font-weight-bold text-dark">Back</a>
            <h2 class="h2 text-center  text-dark p-5"><img src="../image/csharp.png" id="logo-csharp" alt="logo">C#</h2>
            <div class="container text-center text-dark p-5">
                <h4 class="h4 text-dark">Programming Basics - April 2017</h4>
                    <div class="inner-csharp text-left p-5">
                        <p>Entrance Exam - grade <span class="font-italic">6.00</span></p>
                        <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/programming-basic.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                    </div>
                <h4 class="h4 text-dark">Programming Fundamentals - September 2017</h4>
                    <div class="inner-csharp text-left p-5">
                        <p>1. C# Intro and Basic Syntax</p>
                        <p>2. C# Conditional Statements and Loops</p>
                        <p>3. Git and Github</p>
                        <p>4. Data Types and Variables</p>
                        <p>5. Methods. Debugging and Troubleshooting Code</p>
                        <p>6. Arrays</p>
                        <p>7. Lists</p>
                        <p>8. Dictionaries, Lambda Expressions and Linq</p>
                        <p>9. Objects and Classes</p>
                        <p>10. Files and Exceptions</p>
                        <p>11. Strings and text Processing</p>
                        <p>12. Regular Expressions (REGEX)</p>
                        <p>13. Practical Exam - grade <span class="font-italic">6.00</span></p>
                        <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/programming-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                    </div>

                <h4 class="h4 text-dark">Software Technology - November 2017</h4>
                <div class="inner-csharp text-left p-5">
                    <p>1. MVC Overview with other third program tehnology (JS,PHP,JAVA)</p>
                    <p>2. C#: ASP.NET MVC Overview</p>
                    <p>3. C#: Blog Basic Functionality</p>
                    <p>4. Practical Exam - grade <span class="font-italic">6.00</span></p>
                    <p>Link to Exam Project Rider on C# -> <a onclick="window.open('https://github.com/PavelRunchev/Project-Rider/tree/master/Project%20Rider%20-%20Exam%203%20January%202018/C%23/ProjectRider')" class="font-italic">Project-Rider</a></p>
                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/software-technology.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                </div>
            </div>
        </div>
    </main>
        <!-- loading jQuery -->
        <script src="../js/jquery.min.js"></script>
        <!-- loading Popper.min.js - needed after respone navigation click show nav menu -->
        <script src="../js/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="../js/scrolling.js"></script>
</body>
</html>