<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change View Portfolio</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/otherView.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="sideNav">   
            <a class="link h4 mx-5 text-dark font-weight-bold">PORTFOLIO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="../image/2.gif" data-src="../image/DSCF0009.JPG" class="mb-4" id="image" alt="photo">

            <ul class="navbar-nav">
                    <li class="nav-item mr-4">
                        <a class="nav-link active" href="#about">About<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="#hr-education">Education</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="#hr-skills">Skills</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="#hr-qualification">Qualification</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="#hr-projects">Projects</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="#hr-environment">Environment</a>
                    </li>
            </ul>

            <div class="development">
                <div class="text-dark text-left font-weight-bold">Portfolio Development:<i class="fab fa-html5 mx-2"></i> <i class="fab fa-css3-alt mr-3"></i><i class="fa fa-bold mr-2"></i> <i class="fab fa-sass mr-2"></i> </div>
                <div class="text-dark text-left font-weight-bold">&copy; 2019 Powered by Pavel Runchev</div>
            </div>
    </nav>

    <div class="container-fluid" id="about"> 

        <section class="about">
            <h1 class="h1">Pavel <span>Runchev</span></h1>
            <p><i class="fas fa-globe-europe"></i> BULGARIA, <i class="fas fa-map-marker-alt"></i> GABROVO</p>
            <p>44 Angel Kunchev STREET, <i class="fas fa-phone"></i> 0879999436, <i class="fas fa-envelope"></i> PavelRunchev@gmail.com</p>
            <a class="font-weight-bold" href="../index.html"><i class="fas fa-hand-point-right mr-2"></i> Full Stack Developer</a>
            <p>I’m a passionate developer who tends to be mindful for the entire product lifetime. I really enjoy being part of a team which creates a friendly and helpful environment. I truly believe our software can make a profound impact for the end users.</p>
            <div class="row">
                <a class="fab fa-github" onclick="window.open('https://github.com/PavelRunchev?tab=repositories');"></a>
                <a class="fab fa-linkedin-in" onclick="window.open('https://www.linkedin.com/in/pavel-runchev-b4b58116b');"></a>
                <a class="fab fa-skype" onclick="window.open('https://www.skype.com/bg/get-skype/');"></a>
                <a class="fab fa-facebook-f" onclick="window.open('https://bg-bg.facebook.com/');"></a>
                <a class="fab fa-google-plus-g" onclick="window.open('https://accounts.google.com/');"></a>
            </div>
        </section>

        <hr id="hr-education">

        <section id="education">
            <h2 class="h2 text-uppercase text-dark font-weight-bold">EDUCATION</h2>
            <div class="container">
                <h3 class="h3 text-dark mb-5">Software Engineering - Software University</h3>
                <div id="softuni" class="m-auto">
                    <img src="../image/softuni.png" class="img-thumbnail" alt="logo">
                    <p class="inner text-left">Software University (SoftUni) is an organization that provides high quality software development education, profession and a career start for thousands of young people in Bulgaria. SoftUni teaches its students how to be skillful software engineers, using the latest technologies, tools and platforms.</p>
                    
                    <a id="diploma" href="#" class="font-weight-bold"><i class="fas fa-graduation-cap"></i> Diploma Sertificate...</a>
                </div>
            </div>
        </section>

        <hr id="hr-skills">

        <section id="skills">
                <h2 class="h2 text-uppercase text-dark font-weight-bold">SKILLS</h2>           
                <h3 class="h3 font-weight-bold font-italic mb-5">Programming Languages &amp; Tools</h3>
                <ul>
                        <li class="list-inline-item">
                            <a onclick="window.open('https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5');" class="fab fa-html5 w-25"></a>
                          </li>
                          <li class="list-inline-item">
                              <a onclick="window.open('https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3');" class="fab fa-css3-alt w-25"></a>
                          </li>
                          <li class="list-inline-item">
                              <a onclick="window.open('https://developer.mozilla.org/bg/docs/Web/JavaScript');" class="fab fa-js-square w-25"></a>
                          </li>
                          <li class="list-inline-item">
                              <a onclick="window.open('https://angular.io/');" class="fab fa-angular w-25"></a>
                          </li>
                          <li class="list-inline-item">
                              <a onclick="window.open('https://reactjs.org/');" class="fab fa-react w-25"></a>
                          </li>
                          <li class="list-inline-item">
                              <a onclick="window.open('https://nodejs.org/en/');" class="fab fa-node-js w-25"></a>
                          </li>
                          <li class="list-inline-item">
                              <a onclick="window.open('https://sass-lang.com/');" class="fab fa-sass w-25"></a>
                          </li>
                          <li class="list-inline-item">
                              <a onclick="window.open('https://gulpjs.com/');" class="fab fa-gulp w-25"></a>
                          </li>
                          <li class="list-inline-item">
                              <a onclick="window.open('https://www.npmjs.com/');" class="fab fa-npm w-25"></a>
                        </li>
                </ul>
        </section>

        <hr id="hr-qualification">

        <section id="qualification">
            <h2 class="h2 text-uppercase text-dark font-weight-bold">QUALIFICATION</h2> 
            <div>
                <h3>Courses and Sertificates</h3>
                <div id="accordion">

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-dark font-weight-bold" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="text-dark text-left font-weight-bold"><i class="fab fa-js mr-3"></i> JS - See More...</p>             
                                </button>
                            </h5>
                        </div>                     
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body text-dark">
                                <div class="container text-center text-dark">
                                    <h3 class="h3 text-dark text-center mb-4">Programming Fundamentals - November 2017</h3>
                    
                                    <h4 class="h4 text-center text-dark mb-4">Software Technology - November 2017</h4>
                                    <div class="inner-js text-left pl-5">
                                        <p>1. MVC Overview with other third program tehnology (Java,PHP,C#)</p>
                                        <p>2. JS: Basic Syntax</p>
                                        <p>3. JS: Basic Web</p>
                                        <p>4. JS: Blog Basic Functionality</p>
                                        <p>5. Practical Exam - grade <span class="font-italic">6.00</span></p>
                                        <p>Link to Exam Project Rider on JS -> <a class="font-italic" onclick="window.open('https://github.com/PavelRunchev/Project-Rider/tree/master/Project%20Rider%20-%20Exam%203%20January%202018/JavaScript')">Project-Rider</a></p>
                                        <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/software-technology.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                    </div>
                                    <h3 class="h3 text-dark text-center mb-4">JS Core Module - January 2018</h3>
                    
                                    <h4 class="h4 text-dark text-center mb-4">JS Fundamentals - January 2018</h4>
                                    <div class="inner-js text-left pl-5">
                                        <p>1. Javascript syntax</p>
                                        <p>2. Operators and logic flow</p>
                                        <p>3. Functions</p>
                                        <p>4. Arrays and Matrices</p>
                                        <p>5. Strings and Regex</p>
                                        <p>6. Objects and JSON</p>
                                        <p>7. Games Workshop</p>
                                        <p>8. Practical Exam - grade <span class="font-italic">5.85</span></p>
                                        <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/js-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                    </div>
                    
                                    <h4 class="h4 text-dark text-center mb-4">JS Advanced - February 2018</h4>
                                    <div class="inner-js text-left pl-5">
                                        <p>1. Document Object Model</p>
                                        <p>2. DOM Manipulations</p>
                                        <p>3. jQuery</p>
                                        <p>4. Advanced functions</p>
                                        <p>5. Object Composition</p>
                                        <p>6. Unit Testing</p>
                                        <p>7. JS Classes</p>
                                        <p>8. Prototype Chain</p>
                                        <p>9. Modules</p>
                                        <p>10. Practical Exam - grade <span class="font-italic">5.22</span></p>
                                        <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/js-advanced.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                    </div>
                                    
                                    <h4 class="h4 text-dark text-center mb-4">JS Application - Mart 2018</h4>
                                    <div class="inner-js text-left pl-5">
                                        <p>1. Rest Services</p>
                                        <p>2. Ajax and jQuery Ajax</p>
                                        <p>3. Asynchronous Programming</p>
                                        <p>4. Single Page Application</p>
                                        <p>5. Templating</p>
                                        <p>6. JS Patterns</p>
                                        <p>7. JS Tools</p>
                                        <p>8. Practical Exam - grade <span class="font-italic">6.00</span></p>
                                        <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/js-application.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                    </div>
                                </div>
                    
                                <div class="container text-center text-dark">
                                    <h3 class="h3 text-dark text-center mb-4">JS WEB - May 2018</h3>
                    
                                    <h4 class="h4 text-dark text-center mb-4">ExpressJS Fundamentals - May 2018</h4>
                                    <div class="inner-js text-left pl-5">
                                        <p>1. Introduction to HTTP and Node.JS</p>
                                        <p>2. Web Server and Development tools</p>
                                        <p>3. Persistence - File and MongoDB</p>
                                        <p>4. Introduction to EXPRESS>JS</p>
                                        <p>5. View Engines</p>
                                        <p>6. Authentication</p>
                                        <p>7. Workshop</p>
                                        <p>8. Practical Exam - grade <span class="font-italic">4.37</span></p>
                                        <p>Sertificate - <a class="font-italic">NO</a></p>
                                    </div>
                            
                                    <h4 class="h4 text-dark text-center mb-4">ReactJS Fundamentals - June 2018</h4>
                                    <div class="inner-js text-left pl-5">
                                        <p>1. Intro to React.JS</p>
                                        <p>2. Components</p>
                                        <p>3. Events and Forms</p>
                                        <p>4. Routing and Architecture</p>
                                        <p>5. High-Order Components</p>
                                        <p>6. Project Defenses - grade <span class="font-italic">5.80</span></p>
                                        <p>Link to Project on React JS -> <a onclick="window.open('https://github.com/PavelRunchev/React-Defense/tree/master/React%20JS%20Defense%20-%2015%20July%202018')" class="font-italic">Free Gems Catalog</a></p>
                                        <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/react-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                    </div>
                                    <h4 class="h4 text-dark text-center mb-4">Angular Fundamentals - July 2018</h4>
                                    <div class="inner-js text-left pl-5">
                                        <p>1. Intr to Angular and TypeScript</p>
                                        <p>2. Components</p>
                                        <p>3. Observables, Services and Routing</p>
                                        <p>4. Forms, Directives and Pipes</p>
                                        <p>5. Animations and Interceptors</p>
                                        <p>6. Best Practices</p>
                                        <p>7. Redux State Management</p>
                                        <p>8. Workshop</p>
                                        <p>9. Project Defenses - grade <span class="font-italic">6.00</span></p>
                                        <p>Link to Project on Angular 2 -> <a onclick="window.open('https://github.com/PavelRunchev/Angular-Defense')" class="font-italic">Board Games</a></p>
                                        <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/angular-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-dark font-weight-bold" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <p class="text-dark text-left font-weight-bold"><i class="fab fa-node-js mr-3"></i> JS Library - See More...</p>     
                                </button>
                            </h5>
                        </div>                     
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body text-dark pl-5">
                                <div class="inner-js-library text-left pl-5">
                                    <p>1. JQuery - DOM Manipulation</p>
                                     <p>2. Mocha and Chai libraries - Unit testing in JavScript</p>
                                    <p>3. Handlebars and Pug libraries - Templating Engines</p>
                                    <p>4. Sammy - JS framework</p>
                                    <p>5. Gulp - Toolkit for help in your development workflow</p>
                                    <p>6. Bower library - Legacy package manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-dark font-weight-bold" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    <p class="text-dark text-left font-weight-bold"><i class="fab fa-html5 mr-3"></i> HTML5 - See More...</p>
                                </button>
                            </h5>
                        </div>                     
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body text-dark pl-5">
                                <h3 class="h3 text-dark">Web Fundamentals - September 2018</h3>
                                <div class="inner-html text-left pl-5 my-4">
                                    <p>1. Intro to HTML</p>
                                    <p>2. Semantic HTML</p>
                                </div>
                            </div>
                        </div>
                    </div>      

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-dark font-weight-bold" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    <p class="text-dark text-left font-weight-bold"><i class="fab fa-css3-alt mr-3"></i> CSS3 - See More...</p>           
                                </button>
                            </h5>
                        </div>                     
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body text-dark pl-5">
                                    <div class="container text-center text-dark">
                                        <h3 class="h3 text-dark mb-4 text-center">Front-End Development - September 2018</h3>
                        
                                            <h4 class="h4 text-dark text-center pb-5">Web Fundamentals - September 2018</h4>
                                            <div class="inner-css text-left">
                                                <p>1. Intro to CSS</p>
                                                <p>2. CSS & Typography</p>
                                                <p>3. CSS Box Model & Floats</p>
                                                <p>4. Flexbox</p>
                                                <p>5. Media Queries - Part 1</p>
                                                <p>6. Media Queries - Part 2</p>
                                                <p>7. File organization and Version Control</p>
                                                <p>8. Build Blog - Step 1</p>
                                                <p>9. Build Blog - Step 2</p>
                                                <p>10. Build Blog - Step 3</p>
                                                <p>11. Practical Exam - grade <span class="font-italic">6.00</span></p>
                                                <p>Link to Build Blog -> <a onclick="window.open('https://pavelrunchev.github.io/MyBlog')" class="font-italic">MyBlog</a></p>                                                
                                                <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/web-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                            </div>
                        
                                            <h4 class="h4 text-dark text-center pb-5">CSS Advanced - November 2018</h4>
                                        <div class="inner-css text-left">
                                            <p>1. Dev Workflows & Tools</p>
                                            <p>2. CSS Variables & Icon Fonts</p>
                                            <p>3. CSS Transitions and Animations</p>
                                            <p>4. CSS Media Queries & SASS</p>
                                            <p>5. CSS Layout - Grid</p>
                                            <p>6. Style Guides & Pattern Libraries</p>
                                            <p>7. Bootstrap - Bonus Material</p>                                    
                                            <p>8. Project Defense - grade <span class="font-italic">6.00</span></p>
                                            <p>Link to Project -> <a onclick="window.open('https://pavelrunchev.github.io/Medieval-Castles')" class="font-italic">Medieval Castles</a></p>
                                            <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/css-advanced.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                            
                                        </div>
                                    </div>           
                            </div>
                        </div>
                    </div>    

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-dark font-weight-bold" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                        <p class="text-dark text-left font-weight-bold"><img src="../image/csharp.png" class="mr-3"> C# - See More...</p>
                                </button>
                            </h5>
                        </div>                          
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body text-dark pl-5">
                                <h4 class="h4 text-dark text-center pb-5">Programming Basics - April 2017</h4>
                                <div class="inner-csharp text-left pl-5">
                                    <p>Entrance Exam - grade <span class="font-italic">6.00</span></p>
                                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/programming-basic.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                </div>
                                <h4 class="h4 text-dark text-center pb-5">Programming Fundamentals - September 2017</h4>
                                    <div class="inner-csharp text-left pl-5">
                                        <p>1. C# Intro and Basic Syntax</p>
                                        <p>2. C# Conditional Statements and Loops</p>
                                        <p>3. Git and Github</p>
                                        <p>4. Data Types and Variables</p>
                                        <p>5. Methods. Debugging and Troubleshooting Code</p>
                                        <p>6. Arrays</p>
                                        <p>7. Lists</p>
                                        <p>8. Dictionaries, Lambda Expressions and Linq</p>
                                        <p>9. Objects and Classes</p>
                                        <p>10. Files and Exceptions</p>
                                        <p>11. Strings and text Processing</p>
                                        <p>12. Regular Expressions (REGEX)</p>
                                        <p>13. Practical Exam - grade <span class="font-italic">6.00</span></p>
                                        <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/programming-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                    </div>
                
                                <h4 class="h4 text-dark text-center pb-5">Software Technology - November 2017</h4>
                                <div class="inner-csharp text-left p-5">
                                    <p>1. MVC Overview with other third program tehnology (JS,PHP,JAVA)</p>
                                    <p>2. C#: ASP.NET MVC Overview</p>
                                    <p>3. C#: Blog Basic Functionality</p>
                                    <p>4. Practical Exam - grade <span class="font-italic">6.00</span></p>
                                    <p>Link to Exam Project Rider on C# -> <a onclick="window.open('https://github.com/PavelRunchev/Project-Rider/tree/master/Project%20Rider%20-%20Exam%203%20January%202018/C%23/ProjectRider')" class="font-italic">Project-Rider</a></p>
                                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/software-technology.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed text-dark font-weight-bold" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                    <p class="text-dark text-left font-weight-bold"><i class="fab fa-java mr-3"></i> Java - See More...</p>
                              </button>
                            </h5>
                        </div>                     
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body text-dark pl-5">
                                <h4 class="h4 text-dark pb-5 text-center">Software Technology - November 2017</h4>
                                <div class="inner-java text-left pl-5">
                                    <p>1. MVC Overview with other third program tehnology (JS,PHP,C#)</p>
                                    <p>2. Java: Basic Syntax</p>
                                    <p>3. Java: Basic Web</p>
                                    <p>4. Java: Blog Basic Functionality</p>
                                    <p>5. Practical Exam - grade <span class="font-italic">6.00</span></p>
                                    <p>Link to Exam Project Rider on Java -> <a onclick="window.open('https://github.com/PavelRunchev/Project-Rider/tree/master/Project%20Rider%20-%20Exam%203%20January%202018/Java')" class="font-italic">Project-Rider</a></p>
                                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/software-technology.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>   
            </div>
        </section>

        <hr id="hr-projects">

        <section id="projects">
            <h2 class="h2 text-uppercase text-dark font-weight-bold my5">PROJECTS</h2>
            <div class="my-5">
                <h3 class="h3"><i class="fab fa-gulp mr-3"></i>Gulp Project</h3>
                <div class="font-weight-bold">Тo create my project I used the following tools - HTML5, SASS, GULP, JEKYLL!</div>
                <div class="font-weight-bold">Link -> <a class="font-italic" onclick="window.open('https://pavelrunchev.github.io/Medieval-Castles')">Medieval Castles</a></div>
                <div class="font-weight-bold">Grade - <span class="font-italic">6.00</span></div>
                <div class="font-weight-bold">Sertificate -> <a class="font-italic" onclick="window.open('../sertificate/css-advanced.jpg','name','top=200, left=400,width=400,height=600')">YES</a></div>
            </div>
            <div class="my-5">
                <h3 class="h3"><i class="fab fa-react mr-3"></i>React Project</h3>
                <div class="font-weight-bold">Тo create my project I used the following tools - HTML5, Bootstrap, React, Toastr!</div>
                <div class="font-weight-bold">Link -> <a class="font-italic" onclick="window.open('https://github.com/PavelRunchev/React-Defense')">Free Gems Catalog</a></div>
                <div class="font-weight-bold">Grade - <span class="font-italic">5.80</span></div>
                <div class="font-weight-bold">Sertificate -> <a class="font-italic" onclick="window.open('../sertificate/react-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></div>
            </div>
            <div class="my-5">
                <h3 class="h3"><i class="fab fa-angular mr-3"></i>Angular 2 Project</h3>
                <div class="font-weight-bold">Тo create my project I used the following tools - HTML5, Bootstrap, Angular 2, Redux!</div>
                <div class="font-weight-bold">Link -> <a class="font-italic" onclick="window.open('https://github.com/PavelRunchev/Angular-Defense')">Board Games</a></div>
                <div class="font-weight-bold">Grade - <span class="font-italic">6.00</span></div>
                <div class="font-weight-bold">Sertificate -> <a class="font-italic" onclick="window.open('../sertificate/angular-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></div>
            </div>
        </section>

        <hr id="hr-environment">

        <section id="environment">
            <h2 class="h2 text-uppercase text-dark font-weight-bold my5">ENVIRONMENT</h2>
            <div class="my-5">
                <h3 class="h3"><i class="fab fa-js mr-3"></i> JS</h3>
                <div><a class="font-weight-bold" onclick="window.open('https://code.visualstudio.com/');">Microsoft - VS Code</a></div>
                <div><a class="font-weight-bold" onclick="window.open('https://www.jetbrains.com/webstorm/');">JetBrains - WebStorm</a></div>
                <div><a class="font-weight-bold" onclick="window.open('https://www.mongodb.com/brand-resources');">Mongo Db</a></div>
            </div>
            <div class="my-5">
                <h3 class="h3"><img src="../image/csharp.png" class="mr-3"> C#</h3>
                <div><a class="font-weight-bold" onclick="window.open('https://visualstudio.microsoft.com/');">Microsoft - Visual Studio 2017</a></div>
                <div><a class="font-weight-bold" onclick="window.open('https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017');">Microsoft - SQL Server Management Studio (SSMS)</a></div>
            </div>
            <div class="my-5">
                <h3 class="h3"><i class="fab fa-java mr-3"></i> Java</h3>
                <div><a class="font-weight-bold" onclick="window.open('https://www.jetbrains.com/idea/');">JetBrains - IntelliJ IDEA</a></div>
                <div><a class="font-weight-bold" onclick="window.open('https://www.mysql.com/');">Oracle - MySQL</a></div>
            </div>
        </section>       
    </div>
    <!-- loading jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- loading Popper.min.js - needed after respone navigation click show nav menu -->
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/scrolling.js"></script>
    <script>
        window.addEventListener('load', function() {
        let allimages= document.getElementsByTagName('img')[0];        
        allimages.setAttribute('src', allimages.getAttribute('data-src'));                 
        }, false)
    </script>
</body>
</html>