<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JS Library and Tools</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <main class="container-fluid p-5" id="js-library"> 
        <a href="../index.html" class="link float-right font-weight-bold text-danger">Back</a>
        <h2 class="h2 text-center m-5 p-5"><i class="fab fa-js mr-3"></i>Java Script Library</h2>
        <div class="container text-center text-light p-5">
            <div class="w-50 mx-auto text-left p-5 my-4">
                <p>1. JQuery - DOM Manipulation</p>
                <p>2. Mocha and Chai libraries - Unit testing in JavScript</p>
                <p>3. Handlebars and Pug libraries - Templating Engines</p>
                <p>4. Sammy - JS framework</p>
                <p>5. Gulp - Toolkit for help in your development workflow</p>
                <p>6. Bower library - Legacy package manager</p>
            </div>
        </div>
    </main>
    <!-- loading jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- loading Popper.min.js - needed after respone navigation click show nav menu -->
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/scrolling.js"></script>
</body>
</html>