<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>Portfolio</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-32x32.png">
    <link rel="mask-icon" type="image/png" href="../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- Font Roboto -->
    <link href="./fonts/roboto/Roboto-Regular.woff" type="font/woff" rel="stylesheet">
    <link href="./fonts/roboto/Roboto-Regular.woff2" type="font/woff2" rel="stylesheet">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="../bootstrap-resource/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap-resource/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../bootstrap-resource/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../bootstrap-resource/mdb.min.css">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <main class="container-fluid o-page-container">
        <div class="o-container">
            <div class="o-container-btn-back">
                <a href="../index.html" class="o-buttons o-page-btn-back">Back</a>
            </div>
            
            <div class="o-page-header">
                <h2 class="text-dark text-center font-weight-bold mt-5 mb-5"><i class="fab fa-js mr-3"></i>Java Script</h2>
            </div>
            
            <div class="o-primery-container">
                <h3 class="text-dark font-weight-bold mb-5">Programming Fundamentals - November 2017</h3>

                <h4 class="font-weight-bold text-dark">Software Technology - November 2017</h4>
                <div class="o-secondary-container text-left">
                    <p>1. MVC Overview with other third program tehnology (Java,PHP,C#, JS)</p>
                    <p>2. JS: Basic Syntax</p>
                    <p>3. JS: Basic Web</p>
                    <p>4. JS: Blog Basic Functionality</p>
                    <p>5. Practical Exam - grade <span class="font-italic">6.00</span></p>
                    <p>Link to Exam Project Rider on JS - 
                        <a class="font-italic js-module-project-rider-link">Project-Rider</a>
                    </p>
                    <p>Sertificate - <a class="font-italic sertificate-software-technology">YES</a></p>
                </div>
                <h3 class="text-dark font-weight-bold mb-5">JS Core Module - January 2018</h3>

                <h4 class="font-weight-bold text-dark">JS Fundamentals - January 2018</h4>
                <div class="o-secondary-container text-left">
                    <p>1. Javascript syntax</p>
                    <p>2. Operators and logic flow</p>
                    <p>3. Functions</p>
                    <p>4. Arrays and Matrices</p>
                    <p>5. Strings and Regex</p>
                    <p>6. Objects and JSON</p>
                    <p>7. Games Workshop</p>
                    <p>8. Practical Exam - grade <span class="font-italic">5.85</span></p>
                    <p>Sertificate - <a class="font-italic sertificate-js-fundamentals">YES</a></p>
                </div>

                <h4 class="font-weight-bold text-dark">JS Advanced - February 2018</h4>
                <div class="o-secondary-container text-left">
                    <p>1. Document Object Model</p>
                    <p>2. DOM Manipulations</p>
                    <p>3. jQuery</p>
                    <p>4. Advanced functions</p>
                    <p>5. Object Composition</p>
                    <p>6. Unit Testing</p>
                    <p>7. JS Classes</p>
                    <p>8. Prototype Chain</p>
                    <p>9. Modules</p>
                    <p>10. Practical Exam - grade <span class="font-italic">5.22</span></p>
                    <p>Sertificate - <a class="font-italic sertificate-js-advanced">YES</a></p>
                </div>
                
                <h4 class="font-weight-bold text-dark">JS Application - Mart 2018</h4>
                <div class="o-secondary-container text-left">
                    <p>1. Rest Services</p>
                    <p>2. Ajax and jQuery Ajax</p>
                    <p>3. Asynchronous Programming</p>
                    <p>4. Single Page Application</p>
                    <p>5. Templating</p>
                    <p>6. JS Patterns</p>
                    <p>7. JS Tools</p>
                    <p>8. Practical Exam - grade <span class="font-italic">6.00</span></p>
                    <p>Sertificate - <a class="font-italic sertificate-js-application">YES</a></p>
                </div>
          
                <h3 class="text-dark font-weight-bold mb-5">JS WEB - May 2018</h3>

                <h4 class="font-weight-bold text-dark">ExpressJS Fundamentals - May 2018</h4>
                <div class="o-secondary-container text-left">
                    <p>1. Introduction to HTTP and Node.JS</p>
                    <p>2. Web Server and Development tools</p>
                    <p>3. Persistence - File and MongoDB</p>
                    <p>4. Introduction to EXPRESS>JS</p>
                    <p>5. View Engines</p>
                    <p>6. Authentication</p>
                    <p>7. Workshop</p>
                    <p>8. Practical Exam - grade <span class="font-italic">6.00</span></p>
                    <p>Link to GitHub - 
                        <a class="font-italic github-link-expressJS-project">SharedTripp</a>
                    </p>
                    <p>Sertificate - <a class="font-italic sertificate-web-expressJS">YES</a></p>
                </div>
        
                <h4 class="font-weight-bold text-dark">ReactJS Fundamentals - June 2018</h4>
                <div class="o-secondary-container text-left">
                    <p>1. Intro to React.JS</p>
                    <p>2. Components</p>
                    <p>3. Events and Forms</p>
                    <p>4. Routing and Architecture</p>
                    <p>5. High-Order Components</p>
                    <p>6. Project Defenses - grade <span class="font-italic">6.00</span></p>
                    <p>Link to GitHub - <a class="font-italic github-link-react-project">Free Gems Catalog</a></p>
                    <p>Sertificate - <a class="font-italic sertificate-web-react">YES</a></p>
                </div>
                <h4 class="font-weight-bold text-dark">Angular Fundamentals - July 2018</h4>
                <div class="o-secondary-container text-left">
                    <p>1. Intro to Angular and TypeScript</p>
                    <p>2. Components</p>
                    <p>3. Observables, Services and Routing</p>
                    <p>4. Forms, Directives and Pipes</p>
                    <p>5. Animations and Interceptors</p>
                    <p>6. Best Practices</p>
                    <p>7. Redux State Management</p>
                    <p>8. Workshop</p>
                    <p>9. Project Defenses - grade <span class="font-italic">6.00</span></p>
                    <p>Link to GitHub - <a class="font-italic github-link-angular-project">Board Games</a></p>
                    <p>Sertificate - <a class="font-italic sertificate-web-angular">YES</a></p>
                </div>
            </div>
        </div>
    </main>
    <!-- loading jQuery -->
    <script src="../js/bootstrap-js/jquery.min.js"></script>
    <!-- loading Popper.min.js - needed after respone navigation click show nav menu -->
    <script src="../js/bootstrap-js/popper.min.js"></script>
    <script src="../js/bootstrap-js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap-js/scrolling.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/page-js.js"></script>
</body>
</html>