<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JS Section</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <main class="container-fluid p-5" id="javascript">
        <div class="container border p-4 mt-4">
            <a href="../index.html" class="link float-right font-weight-bold text-dark">Back</a>
            <h2 class="h2 text-center text-dark m-5"><i class="fab fa-js mr-3"></i>Java Script</h2>
            <div class="container text-center text-dark">
                <h3 class="h3 text-light mb-4">Programming Fundamentals - November 2017</h3>

                <h4 class="h4 text-dark">Software Technology - November 2017</h4>
                <div class="inner-js ml-auto text-left p-5">
                    <p>1. MVC Overview with other third program tehnology (Java,PHP,C#)</p>
                    <p>2. JS: Basic Syntax</p>
                    <p>3. JS: Basic Web</p>
                    <p>4. JS: Blog Basic Functionality</p>
                    <p>5. Practical Exam - grade <span class="font-italic">6.00</span></p>
                    <p>Link to Exam Project Rider on JS -> <a class="font-italic" onclick="window.open('https://github.com/PavelRunchev/Project-Rider/tree/master/Project%20Rider%20-%20Exam%203%20January%202018/JavaScript')">Project-Rider</a></p>
                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/software-technology.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                </div>
                <h3 class="h3 text-light mb-3">JS Core Module - January 2018</h3>

                <h4 class="h4 text-dark">JS Fundamentals - January 2018</h4>
                <div class="inner-js mx-auto text-left p-5">
                    <p>1. Javascript syntax</p>
                    <p>2. Operators and logic flow</p>
                    <p>3. Functions</p>
                    <p>4. Arrays and Matrices</p>
                    <p>5. Strings and Regex</p>
                    <p>6. Objects and JSON</p>
                    <p>7. Games Workshop</p>
                    <p>8. Practical Exam - grade <span class="font-italic">5.85</span></p>
                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/js-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                </div>

                <h4 class="h4 text-dark">JS Advanced - February 2018</h4>
                <div class="inner-js ml-auto text-left p-5">
                    <p>1. Document Object Model</p>
                    <p>2. DOM Manipulations</p>
                    <p>3. jQuery</p>
                    <p>4. Advanced functions</p>
                    <p>5. Object Composition</p>
                    <p>6. Unit Testing</p>
                    <p>7. JS Classes</p>
                    <p>8. Prototype Chain</p>
                    <p>9. Modules</p>
                    <p>10. Practical Exam - grade <span class="font-italic">5.22</span></p>
                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/js-advanced.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                </div>
                
                <h4 class="h4 text-dark">JS Application - Mart 2018</h4>
                <div class="inner-js mx-auto text-left p-5">
                    <p>1. Rest Services</p>
                    <p>2. Ajax and jQuery Ajax</p>
                    <p>3. Asynchronous Programming</p>
                    <p>4. Single Page Application</p>
                    <p>5. Templating</p>
                    <p>6. JS Patterns</p>
                    <p>7. JS Tools</p>
                    <p>8. Practical Exam - grade <span class="font-italic">6.00</span></p>
                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/js-application.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                </div>
            </h4>

            <div class="container text-center text-dark">
                <h3 class="h3 text-light mb-3">JS WEB - May 2018</h3>

                <h4 class="h4 text-dark">ExpressJS Fundamentals - May 2018</h4>
                <div class="inner-js mx-auto text-left p-5">
                    <p>1. Introduction to HTTP and Node.JS</p>
                    <p>2. Web Server and Development tools</p>
                    <p>3. Persistence - File and MongoDB</p>
                    <p>4. Introduction to EXPRESS>JS</p>
                    <p>5. View Engines</p>
                    <p>6. Authentication</p>
                    <p>7. Workshop</p>
                    <p>8. Practical Exam - grade <span class="font-italic">4.37</span></p>
                    <p>Sertificate - <a class="link font-italic text-light">NO</a></p>
                </div>
        
                <h4 class="h4 text-dark">ReactJS Fundamentals - June 2018</h4>
                <div class="inner-js ml-auto text-left p-5">
                    <p>1. Intro to React.JS</p>
                    <p>2. Components</p>
                    <p>3. Events and Forms</p>
                    <p>4. Routing and Architecture</p>
                    <p>5. High-Order Components</p>
                    <p>6. Project Defenses - grade <span class="font-italic">5.80</span></p>
                    <p>Link to Project on React JS -> <a onclick="window.open('https://github.com/PavelRunchev/React-Defense/tree/master/React%20JS%20Defense%20-%2015%20July%202018')" class="font-italic">Free Gems Catalog</a></p>
                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/react-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                </div>
                <h4 class="h4 text-dark">Angular Fundamentals - July 2018</h4>
                <div class="inner-js mx-auto text-left p-5">
                    <p>1. Intr to Angular and TypeScript</p>
                    <p>2. Components</p>
                    <p>3. Observables, Services and Routing</p>
                    <p>4. Forms, Directives and Pipes</p>
                    <p>5. Animations and Interceptors</p>
                    <p>6. Best Practices</p>
                    <p>7. Redux State Management</p>
                    <p>8. Workshop</p>
                    <p>9. Project Defenses - grade <span class="font-italic">6.00</span></p>
                    <p>Link to Project on Angular 2 -> <a onclick="window.open('https://github.com/PavelRunchev/Angular-Defense')" class="font-italic">Board Games</a></p>
                    <p>Sertificate - <a class="font-italic" onclick="window.open('../sertificate/angular-fundamentals.jpg','name','top=200, left=400,width=400,height=600')">YES</a></p>
                </div>
            </div>
        </div>
    </main>
    <!-- loading jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- loading Popper.min.js - needed after respone navigation click show nav menu -->
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/scrolling.js"></script>
</body>
</html>