<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-32x32.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="../css/Bootstrap-css/bootstrap.css">
    <link rel="stylesheet" href="../css/Bootstrap-css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../css/Bootstrap-css/bootstrap-reboot.min.css">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <main class="container-fluid o-page-container"> 
        <div class="o-container">
            <div class="o-container-btn-back">
                <a href="../index.html" class="o-buttons o-page-btn-back">Back</a>
            </div>
            
            <div class="o-page-header">
                <h2 class="text-dark text-center font-weight-bold mt-5 mb-5"></i>Support</h2>
            </div>
            
            <div class="o-primery-container">
                <h3 class="h3 text-dark">Web Browsers</h3>
                <div class="o-secondary-container text-dark text-left">
                    <p>1. <span class="font-weight-bold"><i class="fab fa-chrome"></i> Chrome</span> - v87 or high.</p>
                    <p>2. <span class="font-weight-bold"><i class="fab fa-firefox"></i> Firefox</span> - v84 or high.</p>
					<p>3. <span class="font-weight-bold"><i class="fab fa-edge"></i> Microsoft Edge</span> - v87.</p>
					<p>4. <span class="font-weight-bold"><i class="fab fa-opera"></i> Opera</span> - v72 or high.</p>
					<p>5. <span class="font-weight-bold"><i class="fab fa-safari"></i> Safari</span> - v14 or high.</p>
					<p>6. 
						<span class="font-weight-bold">
							<img src="../image/baidu-browser.svg" style="height: 18px; margin-bottom: 4px;">
							 Baidu
						</span> - v7.12 or high.
					</p>
					<p class="text-dark text-center mb-0 font"><small>All browsers are tested at that version!</small></p>
					<p class="text-dark text-center mt-0"><small>We are not responsible for other versions and browsers!</small></p>
                </div>
            </div>
        </div>
        
    </main>
        <!-- loading jQuery -->
        <script src="../js/bootstrap-js/jquery.min.js"></script>
        <!-- loading Popper.min.js - needed after respone navigation click show nav menu -->
        <script src="../js/bootstrap-js/popper.min.js"></script>
        <script src="../js/bootstrap-js/bootstrap.min.js"></script>
        <script src="../js/bootstrap-js/bootstrap.bundle.min.js"></script>
        <script src="../js/bootstrap-js/scrolling.js"></script>
</body>
</html>