@import 'mixins';

#environment { 
    margin-bottom: 5rem;
    & > h2 { margin: 10% 0 6% 0; }
    cursor: pointer;
    &:hover {
      animation: shake 1.5s ease-in-out 0.3s forwards;
    }

    & > .container { 
      overflow: hidden;
      @include background-layout-gray();
      & .row {
        & .jumbotron {
          background: linear-gradient(rgba(185,186,190,0), rgba(185,186,190,0));
          width: 30%;
          text-align: center;
          & h5 { font-size: 30px; margin: 0 7%; }
       
          & .row {
            & .vs-code,
            & .mongo-db,
            & .webstorm {
              cursor: pointer;
              width: 60px;
              margin: 0.5rem 0;
              border-radius: 50%;
              padding: 7x;
              border: 2px solid white;
              overflow: hidden;
              -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
              -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
              box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
              & img {
                width: 100%;
              }

              &:hover {
                -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.85);
                -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.85);
                box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.85);
                transform: scale(0.9);
                transition-duration: 0.3s;
                animation: hoverEfect 0.3s ease-in;
                animation-fill-mode: both;
                animation-duration: 0.3s;
              }
            }
          }        
        }         
      }     
    } 
}

@media screen and (max-width: 1200px){
   #environment {
    & .container {
      & .row {
        & .jumbotron {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 991px){
  #environment {
   & .container {
     & .row {
       flex-direction: column;
       text-align: center;

       & .jumbotron {
         display: block;
         width: 100%;
         & > .row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
         }
       }
     }
   }
 }
}

@media screen and (max-width: 500px){
  #environment {
    & > h2 { font-size: 22px; }
    & > .container { width: 90%; }
  }
}

