@import 'mixins';

#qualification {
    & > h2 { margin: 8% 0; }
    & .container {
      @include background-layout-gray();

      & .card {
        cursor: pointer;
        margin: 2%;
        color: #fff;
        transition: background 0.4s ease-in, color 0.4s ease-in;
        animation: grow 0.4s ease-out;
        &:hover {
          -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
          -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
          box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
          transform: scale(0.9);
          transition-duration: 0.3s;
          animation: small 0.3s ease-in;
          animation-fill-mode: both;
          animation-duration: 0.3s;
          animation: transparency 0.3s ease-in 0.3s forwards;
        }
      }
      
      & .card-body {
        padding: 1rem;
      }
      & p { 
        margin-bottom: 2rem; 
        font-size: 18px;
      }

      // HOVER EFFECT
      & .btn { 
        @include experience-buttons(); 
        &:hover {
          color: rgb(0,0,0);        
          border-color: rgb(0,0,0);
        }
      }
    }
}

@media screen and (max-width: 1200px){
    #qualification {
        & .container {
            & .row {
                display: flex;
                justify-content: space-around;
            }
            
        }
    }
}

@media screen and (max-width: 500px){
  #qualification {
      & > h2 { font-size: 22px; }
  }
}

@media screen and (max-width: 200px){
  #qualification {
      & > h2 { font-size: 18px; }
      & .container h3 { font-size: 16px; }
      & .container a { font-size: 16px; }
      & .container .card-body { padding: 2%; }
  }
}