@import url('../fontawesome/css/all.css');


@import 'mixins';
@import 'animations';
@import 'navigation';
@import 'header';
@import 'education';
@import 'skills';
@import 'qualification';
@import 'projects';
@import 'environment';
@import 'views';

body {
  position: relative;
  top: 0;
  left: 0;
  background: rgb(238,238,238);
  main {
    & hr { opacity: 0; }
  }

    footer {
      background: linear-gradient(to right, rgba(255,255,255,0.15), rgba(255,255,255,0.15));
      position: relative;     
      z-index: 100;
      font-size: 18px; 
      & .container {
        display: flex;
        flex-direction: column;

        & i { font-size: 20px; }
      }    
    }
}

@media screen and (max-width: 500px) {
  #footer {
    font-size: 12px;
  }
}