@import 'mixins';

body {
    & #js-library,
    & #javascript,
    & #html,
    & #java,
    & #css,
    & #csharp { 
      & .border {
        & h4 { font-size: 28px; }
        font-size: 20px; 
        font-weight: bold;
        background: linear-gradient(rgba(185,186,190,0.9), rgba(185,186,190,0.9));
        padding: 5%;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
        box-shadow: 0px 0px 31px -2px rgba(0,0,0,1);
        & a { 
          color: rgb(250,250,250);
          cursor: pointer;
          &:hover { color: rgb(39,39,39); }
        }        
      }    
    }

    & #csharp {
      & img { 
        width: 4%; 
        margin-right: 3%; 
        border-radius: 0.3rem; 
        padding-bottom: 7px;
      }
      & h2 {
        font-weight: bold;
        font-size: 50px;
        @include white-shadow();
      }
    }

    & .link { cursor: pointer; }

    & #js { & .inner-js {  width: 65%; } }
    & #js-library { & .inner-js-library{ width: 65%; } }
    & #css { & .inner-css { width: 65%; } }
    & #csharp { & .inner-csharp { width: 65%; } }
    & #html { & .inner-html { width: 65%; } }
    & #java { & .inner-java { width: 65%; } }

    & #javascript > div > div:nth-child(3) > div:nth-child(3) { padding-left: 10rem; color: orange; }
}