.c-navigation {
	background-color: $background-color-blue-opacity-100;
	padding: 1% 0 1% 0;

	&-container {
		padding-left: 0 !important;
		padding-right: 0 !important;
		@include for-tablet-down {
			display: block;
			max-width: 100%;
			height: auto;
		}
		
		@include for-tablet-landscape-up {
			@include flex-box(row, space-between, center);
		}
	}

	.c-navigation-btn-container {
		@include flex-box(row, space-between, stretch);

		@include for-tablet-down {
			width: 100%;
		}
	}

	.c-navigation-change-view {
		text-transform: uppercase;
		width: 180px;
		padding: 0px 20px;
		color: $primary-color-blue;
		@include transition-all-ease-out(0.3s);
	
		&:hover {
			outline: none;
			opacity: 0.75;
			@include transform-scale(0.9);
		}
	}

	.navbar-collapse {
		max-width: 60%;

		@include for-tablet-landscape-up {
			max-width: 80%;
		}

		@include for-tablet-down {
			max-width: 100%;
		}
	
	}

	&-ul {
		width: 700px;
		margin-left: auto;
		margin-bottom: 0;
		@include flex-box(row, space-around, center);

		@include for-tablet-landscape-up {
			width: 700px;
			font-size: 18px;
		}

		@include for-tablet-down {
			width: 100%;
			padding: 0;
			margin-top: 2%;
			@include flex-box(column, flex-start, center);
		}

		@include for-big-desktop-up {
			width: 50%;
			font-size: 22px;
		}
	}

	&-list-item {
		cursor: pointer;
		list-style: none;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 20px;
		height: 40px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid transparent;
		@include transition-all-ease-out(0.3s);

		&:hover {
			@include transform-scale(0.9);
			border-bottom: 1px solid $primary-color-blue;
		}

		@include for-tablet-down {
			width: inherit;
			padding: 0 3%;
			&:hover {
				background-color: $secondary-color-white;
				border-bottom: 1px solid transparent;
			}
		}
	}
}
