/* colors */
/* background colors */
/* icon colors */
.c-qualification {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.c-qualification .c-qualification-header {
  width: 250px;
}

.c-qualification .c-qualification-container-row-cards {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -moz-align-items: stretch;
}

@media all and (max-width: 599px) {
  .c-qualification .c-qualification-container-row-cards {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    -moz-align-items: stretch;
  }
}

@media all and (min-width: 600px) {
  .c-qualification .c-qualification-container-row-cards {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    -moz-align-items: stretch;
  }
}

@media all and (min-width: 900px) {
  .c-qualification .c-qualification-container-row-cards {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    -moz-align-items: stretch;
  }
}

.c-qualification .c-qualification-container-row-cards .c-qualification-js-image-float-left {
  float: left;
  position: relative;
  width: 150px;
  height: 120px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

@media all and (max-width: 599px) {
  .c-qualification .c-qualification-container-row-cards .c-qualification-js-image-float-left {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -webkit-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -ms-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -moz-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -o-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  }
}

@media all and (min-width: 600px) {
  .c-qualification .c-qualification-container-row-cards .c-qualification-js-image-float-left {
    transform: rotateX(60deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    -webkit-transform: rotateX(60deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    -ms-transform: rotateX(60deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    -moz-transform: rotateX(60deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    -o-transform: rotateX(60deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
  }
  .c-qualification .c-qualification-container-row-cards .c-qualification-js-image-float-left:hover {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -webkit-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -ms-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -moz-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -o-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  }
}

.c-qualification .c-qualification-container-row-cards .c-qualification-js-image-float-right {
  float: right;
  position: relative;
  width: 150px;
  height: 120px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

@media all and (max-width: 599px) {
  .c-qualification .c-qualification-container-row-cards .c-qualification-js-image-float-right {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -webkit-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -ms-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -moz-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -o-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  }
}

@media all and (min-width: 600px) {
  .c-qualification .c-qualification-container-row-cards .c-qualification-js-image-float-right {
    box-shadow: 80px 60px 15px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 80px 60px 15px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 80px 60px 15px 5px rgba(0, 0, 0, 0.4);
    transform: rotateX(-60deg) rotateZ(60deg) translate3d(120px, 0px, -70px);
    -webkit-transform: rotateX(-60deg) rotateZ(60deg) translate3d(120px, 0px, -70px);
    -ms-transform: rotateX(-60deg) rotateZ(60deg) translate3d(120px, 0px, -70px);
    -moz-transform: rotateX(-60deg) rotateZ(60deg) translate3d(120px, 0px, -70px);
    -o-transform: rotateX(-60deg) rotateZ(60deg) translate3d(120px, 0px, -70px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
  }
  .c-qualification .c-qualification-container-row-cards .c-qualification-js-image-float-right:hover {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -webkit-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -ms-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -moz-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    -o-transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  }
}

.c-qualification .c-qualification-container-row-cards .o-buttons {
  display: block;
  width: 100px;
  margin: 0 auto;
}
/*# sourceMappingURL=components.qualification.css.map */