/* colors */
/* background colors */
/* icon colors */
.c-footer {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-footer-development-tools {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 3% 0;
}

.c-footer-development-tools .c-footer-development-tools-container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  padding: 3% 0 5% 0;
}

@media all and (max-width: 599px) {
  .c-footer-development-tools .c-footer-development-tools-container {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
  }
}

.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-JS,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-C,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-Java {
  width: 200px;
}

@media all and (max-width: 599px) {
  .c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-JS,
  .c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-C,
  .c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-Java {
    margin: 5% 0;
  }
}

.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-JS .c-footer-development-tools-container-links,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-C .c-footer-development-tools-container-links,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-Java .c-footer-development-tools-container-links {
  width: 100%;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
}

.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-JS .c-footer-development-tools-container-links .c-footer-development-tools-container-link,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-C .c-footer-development-tools-container-links .c-footer-development-tools-container-link,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-Java .c-footer-development-tools-container-links .c-footer-development-tools-container-link {
  display: block;
}

.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-JS .c-footer-development-tools-container-links .c-footer-development-tools-container-link:hover,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-C .c-footer-development-tools-container-links .c-footer-development-tools-container-link:hover,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-Java .c-footer-development-tools-container-links .c-footer-development-tools-container-link:hover {
  cursor: pointer;
}

.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-JS .c-footer-development-tools-container-links .c-footer-development-tools-container-link .c-footer-development-tools-image,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-C .c-footer-development-tools-container-links .c-footer-development-tools-container-link .c-footer-development-tools-image,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-Java .c-footer-development-tools-container-links .c-footer-development-tools-container-link .c-footer-development-tools-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-JS .c-footer-development-tools-container-links .c-footer-development-tools-container-link .c-footer-development-tools-image:hover,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-C .c-footer-development-tools-container-links .c-footer-development-tools-container-link .c-footer-development-tools-image:hover,
.c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-Java .c-footer-development-tools-container-links .c-footer-development-tools-container-link .c-footer-development-tools-image:hover {
  -webkit-box-shadow: -1px 0px 20px 0px rgba(255, 255, 255, 0.9);
  box-shadow: -1px 0px 20px 0px rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

@media all and (max-width: 599px) {
  .c-footer-development-tools .c-footer-development-tools-container .c-footer-development-tools-container-C {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.c-footer-development-tools .c-footer-container-support {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -moz-align-items: stretch;
}

.c-footer-development-tools .c-footer-container-support .c-footer-support-link {
  text-transform: uppercase;
  color: #FBFBFB;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.c-footer-development-tools .c-footer-container-support .c-footer-support-link:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.c-footer-development-tools .fa-html5,
.c-footer-development-tools .fa-css3-alt,
.c-footer-development-tools .fa-sass,
.c-footer-development-tools .fa-bold,
.c-footer-development-tools .fa-js-square {
  line-height: 2.5;
}
/*# sourceMappingURL=components.footer.css.map */