/* colors */
/* background colors */
/* icon colors */
/* colors */
/* background colors */
/* icon colors */
.c-about {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.c-about .c-about-header {
  width: 200px;
}

.c-about .c-about-btn {
  border: none;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  padding: 15px 35px;
  color: #36A2C4;
  transition: background-color 1s, color 3s, ease-in-out 1s;
  -ms-transition: background-color 1s, color 3s, ease-in-out 1s;
  -moz-transition: background-color 1s, color 3s, ease-in-out 1s;
  -webkit-transition: background-color 1s, color 3s, ease-in-out 1s;
  -o-transition: background-color 1s, color 3s, ease-in-out 1s;
}

.c-about .c-about-btn:hover {
  background-color: #36A2C4;
  color: #FBFBFB;
  box-shadow: 0px 0px 8px 1px #36A2C4;
  -webkit-box-shadow: 0px 0px 8px 1px #36A2C4;
  -moz-box-shadow: 0px 0px 8px 1px #36A2C4;
}

.c-about .c-about-btn:active {
  position: relative;
  top: 1px;
}

.c-about .c-about-data {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  margin: 0 auto;
}

@media all and (max-width: 599px) {
  .c-about .c-about-data {
    width: 80%;
    max-width: 80%;
  }
}

@media all and (min-width: 600px) {
  .c-about .c-about-data {
    width: 50%;
    max-width: 50%;
  }
}

@media all and (min-width: 1200px) {
  .c-about .c-about-data {
    width: 30%;
    max-width: 30%;
  }
}

.c-about .c-about-data i {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.c-about .c-about-data i:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.c-about .c-about-data .c-about-data-secondary-info {
  cursor: pointer;
}

.c-about .c-about-data .c-about-data-secondary-info-skype {
  width: 100px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.c-about .c-about-data .c-about-data-secondary-info-skype:hover {
  display: block;
  position: absolute;
  transform: scale(1) translate(-30px, 5px);
  -webkit-transform: scale(1) translate(-30px, 5px);
  -ms-transform: scale(1) translate(-30px, 5px);
  -moz-transform: scale(1) translate(-30px, 5px);
  -o-transform: scale(1) translate(-30px, 5px);
  opacity: 1;
}

.c-about .c-about-data .fa-skype:hover ~ .c-about-data-secondary-info-skype {
  display: block;
  position: absolute;
  transform: scale(1) translate(-30px, 5px);
  -webkit-transform: scale(1) translate(-30px, 5px);
  -ms-transform: scale(1) translate(-30px, 5px);
  -moz-transform: scale(1) translate(-30px, 5px);
  -o-transform: scale(1) translate(-30px, 5px);
  opacity: 1;
}

.c-about .c-about-data .c-about-data-secondary-info-github {
  width: 140px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.c-about .c-about-data .c-about-data-secondary-info-github:hover {
  display: block;
  position: absolute;
  transform: scale(1) translate(-50px, 5px);
  -webkit-transform: scale(1) translate(-50px, 5px);
  -ms-transform: scale(1) translate(-50px, 5px);
  -moz-transform: scale(1) translate(-50px, 5px);
  -o-transform: scale(1) translate(-50px, 5px);
  opacity: 1;
}

.c-about .c-about-data .fa-github:hover ~ .c-about-data-secondary-info-github {
  display: block;
  position: absolute;
  transform: scale(1) translate(-50px, 5px);
  -webkit-transform: scale(1) translate(-50px, 5px);
  -ms-transform: scale(1) translate(-50px, 5px);
  -moz-transform: scale(1) translate(-50px, 5px);
  -o-transform: scale(1) translate(-50px, 5px);
  opacity: 1;
}

.c-about .c-about-data .c-about-data-secondary-info-linkedin {
  width: 140px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.c-about .c-about-data .c-about-data-secondary-info-linkedin:hover {
  display: block;
  position: absolute;
  transform: scale(1) translate(-55px, 5px);
  -webkit-transform: scale(1) translate(-55px, 5px);
  -ms-transform: scale(1) translate(-55px, 5px);
  -moz-transform: scale(1) translate(-55px, 5px);
  -o-transform: scale(1) translate(-55px, 5px);
  opacity: 1;
}

.c-about .c-about-data .fa-linkedin-in:hover ~ .c-about-data-secondary-info-linkedin {
  display: block;
  position: absolute;
  transform: scale(1) translate(-55px, 5px);
  -webkit-transform: scale(1) translate(-55px, 5px);
  -ms-transform: scale(1) translate(-55px, 5px);
  -moz-transform: scale(1) translate(-55px, 5px);
  -o-transform: scale(1) translate(-55px, 5px);
  opacity: 1;
}

.c-about .c-about-data .c-about-data-secondary-info-gmail {
  width: 230px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.c-about .c-about-data .c-about-data-secondary-info-gmail:hover {
  display: block;
  position: absolute;
  transform: scale(1) translate(-90px, 5px);
  -webkit-transform: scale(1) translate(-90px, 5px);
  -ms-transform: scale(1) translate(-90px, 5px);
  -moz-transform: scale(1) translate(-90px, 5px);
  -o-transform: scale(1) translate(-90px, 5px);
  opacity: 1;
}

.c-about .c-about-data .fa-envelope:hover ~ .c-about-data-secondary-info-gmail {
  display: block;
  position: absolute;
  transform: scale(1) translate(-90px, 5px);
  -webkit-transform: scale(1) translate(-90px, 5px);
  -ms-transform: scale(1) translate(-90px, 5px);
  -moz-transform: scale(1) translate(-90px, 5px);
  -o-transform: scale(1) translate(-90px, 5px);
  opacity: 1;
}

.c-about .c-about-data .c-about-data-secondary-info-facebook {
  width: 140px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.c-about .c-about-data .c-about-data-secondary-info-facebook:hover {
  display: block;
  position: absolute;
  transform: scale(1) translate(-55px, 5px);
  -webkit-transform: scale(1) translate(-55px, 5px);
  -ms-transform: scale(1) translate(-55px, 5px);
  -moz-transform: scale(1) translate(-55px, 5px);
  -o-transform: scale(1) translate(-55px, 5px);
  opacity: 1;
}

.c-about .c-about-data .fa-facebook-square:hover ~ .c-about-data-secondary-info-facebook {
  display: block;
  position: absolute;
  transform: scale(1) translate(-55px, 5px);
  -webkit-transform: scale(1) translate(-55px, 5px);
  -ms-transform: scale(1) translate(-55px, 5px);
  -moz-transform: scale(1) translate(-55px, 5px);
  -o-transform: scale(1) translate(-55px, 5px);
  opacity: 1;
}
/*# sourceMappingURL=components.about.css.map */