/* colors */
/* background colors */
/* icon colors */
@keyframes main-picture {
  from {
    opacity: 0;
    border: 2px solid #FBFBFB;
  }
  to {
    border: 2px solid #FBFBFB;
    transition: all 0.5s ease-out;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px 0px white;
    -moz-box-shadow: 0px 0px 20px 0px white;
    box-shadow: 0px 0px 20px 0px white;
    transform: scale(1.05);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    transform: scale(1);
  }
}

@keyframes reactRotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes angularRotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes smallest {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow-box {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* colors */
/* background colors */
/* icon colors */
.fa-mobile {
  animation-name: shake;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.fa-skype,
.fa-github,
.fa-linkedin-in,
.fa-facebook-square,
.fa-envelope {
  font-size: 30px;
  margin: 0 5%;
}

.fa-skype:hover,
.fa-github:hover,
.fa-linkedin-in:hover,
.fa-facebook-square:hover,
.fa-envelope:hover {
  transform: scale(1.1);
}

.fa-skype {
  color: #01A6E2;
}

.fa-github {
  color: #000;
}

.fa-linkedin-in {
  color: #0073B1;
}

.fa-facebook-square {
  color: #2D4B82;
}

.fa-envelope {
  color: #E94134;
}
