/* colors */
/* background colors */
/* icon colors */
@-webkit-keyframes main-picture {
  from {
    opacity: 0;
    border: 2px solid #FBFBFB;
  }
  to {
    border: 2px solid #FBFBFB;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 1;
  }
}
@keyframes main-picture {
  from {
    opacity: 0;
    border: 2px solid #FBFBFB;
  }
  to {
    border: 2px solid #FBFBFB;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px 0px white;
    box-shadow: 0px 0px 20px 0px white;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shake {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px 0px white;
    box-shadow: 0px 0px 20px 0px white;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes reactRotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes reactRotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes angularRotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes angularRotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes smallest {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes smallest {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes grow-box {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow-box {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* colors */
/* background colors */
/* icon colors */
.fa-mobile {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.fa-skype,
.fa-github,
.fa-linkedin-in,
.fa-facebook-square,
.fa-envelope {
  font-size: 30px;
  margin: 0 5%;
}

.fa-skype:hover,
.fa-github:hover,
.fa-linkedin-in:hover,
.fa-facebook-square:hover,
.fa-envelope:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fa-skype {
  color: #01A6E2;
}

.fa-github {
  color: #000;
}

.fa-linkedin-in {
  color: #0073B1;
}

.fa-facebook-square {
  color: #2D4B82;
}

.fa-envelope {
  color: #E94134;
}
/*# sourceMappingURL=elements.i.css.map */