/* colors */
/* background colors */
/* icon colors */
/* colors */
/* background colors */
/* icon colors */
/* colors */
/* background colors */
/* icon colors */
@keyframes main-picture {
  from {
    opacity: 0;
    border: 2px solid #FBFBFB;
  }
  to {
    border: 2px solid #FBFBFB;
    transition: all 0.5s ease-out;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px 0px white;
    -moz-box-shadow: 0px 0px 20px 0px white;
    box-shadow: 0px 0px 20px 0px white;
    transform: scale(1.05);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    transform: scale(1);
  }
}

@keyframes reactRotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes angularRotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes smallest {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow-box {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.c-header {
  width: 100%;
  max-width: 100%;
  max-height: 600px;
  background-size: cover;
  text-align: center;
  overflow: auto;
  padding: 0;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -moz-align-items: stretch;
}

.c-header .c-header-background-image .c-header-mask {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
}

.c-header .c-header-background-image .c-header-mask .c-header-info-image {
  margin-top: 1%;
  opacity: 1;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
}

.c-header .c-header-background-image .c-header-mask .c-header-info-image:active {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.c-header .c-header-background-image .c-header-mask h1 {
  color: #FBFBFB;
}
