@import '../Settings/settings.colors.scss';
@import '../Tools/tools.mixins.scss';

.c-education {
	width: 100%;
	padding-left: 0;
	padding-right: 0;

	.c-education-header {
		width: 200px;
	}

	.c-education-container {
		width: 100%;
		.c-education-softuni-logo {
			display: block;
			width: 30%;
			height: auto;
			margin: 0 auto;
			cursor: pointer;
			border-radius: 5px;
			@include primary-box-shadow-black;
			margin-bottom: 3%;
			opacity: 1;
			@include transition-opacity-ease-out(1s);

			&:active {
				opacity: 0;
			}
		}

		.c-education-diploma-container {
			width: 180px;
		
			.c-education-diploma-btn {
				width: 100%;
				text-align: center;
				color: $primary-color-blue;
		
				&:hover {
					text-decoration: underline;
				}
			}
		}		
	}
}











