@import '../Tools/tools.mixins.scss';
@import '../Settings/settings.breakpoints.scss';

.c-qualification {
	padding-left: 0;
	padding-right: 0;
	width: 100%;

	.c-qualification-header {
		width: 250px;
	}

	.c-qualification-container-row-cards {
		@include flex-box(row, space-evenly, stretch);

		@include for-phone-only {
			@include flex-box(column, flex-start, stretch);
		}

		@include for-tablet-portrait-up {
			@include flex-box(column, flex-start, stretch);
		}

		@include for-tablet-landscape-up {
			@include flex-box(row, space-evenly, stretch);
		}

		.c-qualification-js-image-float-left {
			float: left;
			position: relative;
			width: 150px;
			height: 120px;
			border-radius: 5px;
			margin-right: 20px;
			cursor: pointer;
			
			@include for-phone-only {
				@include transform-rotateX-rotateZ-translate3d(0deg, 0deg, 0px, 0px, 0px);
				@include primary-box-shadow-black;
			}

			@include for-tablet-portrait-up {
				@include transform-rotateX-rotateZ-translate3d(60deg, -60deg, -120px, 0px, 70px);
				@include box-shadow-3d-black-left;
				@include transition-all-ease-out(1s);
		
				&:hover {
					@include transform-rotateX-rotateZ-translate3d(0deg, 0deg, 0px, 0px, 0px);
					@include primary-box-shadow-black;
				}
			}
		}
		
		.c-qualification-js-image-float-right {
			float: right;
			position: relative;
			width: 150px;
			height: 120px;
			border-radius: 5px;
			margin-left: 20px;
			cursor: pointer;
			
			@include for-phone-only {
				@include transform-rotateX-rotateZ-translate3d(0deg, 0deg, 0px, 0px, 0px);
				@include primary-box-shadow-black;
			}

			@include for-tablet-portrait-up {
				@include box-shadow-3d-black-right;
				@include transform-rotateX-rotateZ-translate3d(-60deg, 60deg, 120px, 0px, -70px);
				@include transition-all-ease-out(1s);
		
				&:hover {
					@include transform-rotateX-rotateZ-translate3d(0deg, 0deg, 0px, 0px, 0px);
					@include primary-box-shadow-black;
				}
			}
		}

		.o-buttons {
			display: block;
			width: 100px;
			margin: 0 auto;
		}
	}
}









  